kind: VirtualService
apiVersion: networking.istio.io/v1alpha3
metadata:
  # Just a name for this virtual service - in other words, can call this anything you like
  name: {{ .Values.app.name | default .Release.Name }}-retry
  # typically in the same namespace as the service
  namespace: default
spec:
  gateways:
    - hello-kubernetes-gateway
  hosts:
    # This is the fully qualified service name
    # DNS name defined by the kubernetes service
    # that we are applying routing rules for
    # - {{ .Release.Name }}.default.svc.cluster.local
    - "*" # copy the value in the gateway hosts In a production environment,
          # place the incoming host we applying proxy rules here
  http:
    - name: {{ .Values.app.name | default .Release.Name }}-routes
      match:
        - uri:
            prefix: "/other"
      retries:
          attempts: 3
          perTryTimeout: 2s
          retryOn: gateway-error,connect-failure,refused-stream,5xx
      route:
      - destination:
          host: {{ .Values.app.name }}.default.svc.cluster.local
          port:
            number: 80
          subset: green # Reference the name defined in the destination rule for a particular subset
        weight: 100
      - destination:
          host: {{ .Values.app.name }}.default.svc.cluster.local
          port:
            number: 80
          subset: blue  # Reference the name defined in the destination rule for a particular subset
        weight: 0
      fault:
          abort:
              httpStatus: 503
              percentage:
                  value: 50